.overlay {
  position: fixed;
  top: 570;
  width: 100vw;
  height: 100vh;
}

.modal {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  width: 325px;
  text-align: center;
}

.closeButton {
  background: none;
  border: none;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* For small screens */
@media (max-width: 480px) {
  .modal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
  }
}
